<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Digit Classifier</h1>
        </div>

        <div class="d-flex justify-content-center">
            <div>
                <canvas id="canvas" width="280" height="280"></canvas>
            </div>
            <div style="margin: 5px"></div>
            <div id="result"><p>0</p></div>
       </div>

        <div class="d-flex justify-content-center">
            <button onclick="clearCanvas()">Clear</button>
        </div>

        <div id="chartContainer">
            <canvas id="chart"></canvas>
        </div>

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
       <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>

</html>
